<div class="jumbotron">
    <h1 class="display-4">Verdict-Search</h1>
    <p class="lead">Anonimizált bírósági határozatok gyorsan, kényelmesen</p>
    <hr class="my-4">
    <form class="form-inline my-0 my-lg-5 w-100">
        <div class="form-group my-0 my-lg-5 w-100 row justify-content-center" >
            <input type="text" class="form-control mr-sm-1 w-75" style="height: 65px" placeholder="Keresés" [(ngModel)]="keyword"
                name="search">
            <button [routerLink]="['/results']" routerLinkActive="router-link-active" 
            [queryParams]="{'searchedTerm': keyword}"
            class="btn btn-dark my-0 my-sm-0" type="submit">Keresés
        </button>
        </div>
    </form>
</div>
<h2 class="bg-warning mb-3 p-5">Legnépszerűbb határozatok</h2>
<div class="card text-white bg-dark mb-3" *ngFor="let decision of popularDecisionsList; let i = index;">
    <div class="card-header row align-items-center">
        <div class="col-lg-2 m-2">
            {{decision.caseNumber}}
        </div>
        <div class="col-lg-2 m-2">
            {{decision.courtName}}
        </div>
        <div class="col-lg-2 m-2">
            {{decision.decisionDate}}
        </div>
        <div class="col-lg-2 m-2">
            {{decision.subjectMatter}}
        </div>
        <a class="btn btn-warning m-2" href="{{decision.source}}">Letöltés</a>


        <button [routerLink]="['/',decision.caseNumber]" class="btn btn-primary"
            style="height: 50px;">Megnyitás</button>
    </div>
  
</div>