<div style="min-width: 500px;" class="card text-white bg-dark mb-3 decision-infobox">
  <div class="row m-2 w-100">
    <div class="col w-25">
      Ügyszám:
    </div>
    <div class="col font-weight-bold w-75">
      {{decisionObject.caseNumber}}
    </div>
  </div>
  <div class="row m-2">
    <div class="col">
      Bíróság:
    </div>
    <div class="col font-weight-bold">
      {{decisionObject.courtName}}
    </div>
  </div>
  <div class="row m-2">
    <div class="col">
      Ügytípus:
    </div>
    <div class="col font-weight-bold">
      {{decisionObject.caseType}}
    </div>
  </div>
  <div class="row m-2">
    <div class="col">
      Ügy tárgya:
    </div>
    <div class="col font-weight-bold">
      {{decisionObject.subjectMatter}}
    </div>
  </div>
  <div class="row m-2">
    <div class="col">
      Határozathozatal:
    </div>
    <div class="col font-weight-bold">
      {{decisionObject.decisionDate}}
    </div>
  </div>
  <div class="row m-2">
    <div class="col">
      Eljárás éve:
    </div>
    <div class="col font-weight-bold">
      {{decisionObject.procedureYear}}
    </div>
  </div>
  <div class="row m-2">
    <div class="col">
      Megtekintések száma:
    </div>
    <div class="col font-weight-bold">
      {{decisionObject.viewCount}}
    </div>
  </div>
  <a class="btn btn-warning m-2" href="{{decisionObject.source}}">Letöltés</a>
</div>
<p *ngFor="let paragraph of decisionString" innerHTML="{{ paragraph | highlight : mySearch}}">
  {{paragraph}}
</p>