/* You can add global styles to this file, and also import other style files */

/*
mark {
    background-color: yellow;
    color: black;
  }
*/

app-decision .ribbon-highlight {
    background-color: transparent;

    position: relative;
    margin: 0.1em;
}

app-decision .ribbon-highlight:before {
    background-color: transparent;
    content: "";
    z-index: -1;
    left: -0.5em;
    top: 0.1em;
    border-width: 0.6em;
    border-style: solid;
    border-color: lightgreen;
    position: absolute;
    width: 150%;
    border-left-color: transparent;
    border-right-color: transparent;
}

.decision-infobox{
    margin-top: 150px;
}

.card-header a{
    height: 45px;
    display: flex;
    align-items: center;
}

.card-header button{
    height: 45px;
    display: flex;
    align-items: center;
}

.navbar{
    height: 75px;
}




@media (min-width: 1400px) {
    .decision-infobox{
        position: fixed;
        top: 15vh;
        left:  2vw;
        max-width: 10vw;
    }

}

